*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    background-color: #23252C;
  }
  
  #main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .main-heading{
    font-size: 1.5rem;
  }
  @media screen and (max-width: 45em) {
    #main{
      flex-direction: column;
      align-items: center;
    }
    .main-heading{
      font-size: 1.3rem;
    }
  }
  .App {
    text-align: center;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }