*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    background-color: #23252C;
  }
  
  #main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .main-heading{
    font-size: 1.5rem;
  }
  @media screen and (max-width: 45em) {
    #main{
      flex-direction: column;
      align-items: center;
    }
    .main-heading{
      font-size: 1.3rem;
    }
  }
  .App {
    text-align: center;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .login-button{
    background-color: #61dafb;
    color: #23252C;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    align-items: center;
    display: block;
    margin: 0 auto;
  }
           
  .login-button {
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }

  .login-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .web3button {
    border-color: white;
    background-color: transparent;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    border: 2px solid #E8E8E8;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
  }
 